@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 @apply h-screen scrollbar-thin scrollbar-thumb-rounded scrollbar-thumb-brand-700 scrollbar-track-aux-500 overflow-y-scroll;
}

body {
  @apply bg-zinc-900 text-gray-100;
}

vm-player {
  --vm-player-theme: #faba16;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40px;
}